<div class="container">
  <form class="" ng-submit="vm.hallarP()">
    <div class="row">
      <div class="col-md-3">
        <input type="text" placeholder="X1" ng-model="vm.x1">
      </div>
      <div class="col-md-3">
        <input type="text" placeholder="y1" ng-model="vm.y1">
      </div>
      <div class="col-md-3">
        <input type="text" placeholder="X1" ng-model="vm.x2">
      </div>
      <div class="col-md-3">
        <input type="text" placeholder="y2" ng-model="vm.y2">
      </div>
    </div>
    <button type="submit" name="button">hallar</button>
  </form>
  <p>hallar hipotenusa{{vm.b}}</p>

</div>
